<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <context-param>
    <param-name>quartz:config-file</param-name>
    <param-value>/quartz.properties</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:shutdown-on-unload</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:wait-on-shutdown</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:start-scheduler-on-load</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <filter>
    <filter-name>CharaterEncoding</filter-name>
    <filter-class>com.elegps.tscweb.comm.CharactEncondingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharaterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.elegps.tscweb.comm.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
        /WEB-INF/struts-config.xml,
				/WEB-INF/struts-config/traffic-config.xml,
				/WEB-INF/struts-config/control-config.xml,
				/WEB-INF/struts-config/ddb-config.xml,
				/WEB-INF/struts-config/ms-config.xml,
				/WEB-INF/struts-config/grp-config.xml,
				/WEB-INF/struts-config/grpms-config.xml,
				/WEB-INF/struts-config/gps-config.xml,
				/WEB-INF/struts-config/gpsms-config.xml,
				/WEB-INF/struts-config/ddmsms-config.xml,
				/WEB-INF/struts-config/menu-config.xml,
				/WEB-INF/struts-config/role-config.xml,
				/WEB-INF/struts-config/rolemenu-config.xml,
				/WEB-INF/struts-config/user-config.xml,
				/WEB-INF/struts-config/userrole-config.xml,
				/WEB-INF/struts-config/agent-config.xml,
				/WEB-INF/struts-config/ep-config.xml,
				/WEB-INF/struts-config/advance-config.xml,
				/WEB-INF/struts-config/mscharge-config.xml,
				/WEB-INF/struts-config/question-config.xml,
				/WEB-INF/struts-config/xml-config.xml,
				/WEB-INF/struts-config/pf-config.xml,
				/WEB-INF/struts-config/money-config.xml,
				/WEB-INF/struts-config/adv-config.xml,
				/WEB-INF/struts-config/ws-config.xml,
				/WEB-INF/struts-config/kofei-config.xml,
				/WEB-INF/struts-config/phonekofei-config.xml,
				/WEB-INF/struts-config/pt-config.xml,
				/WEB-INF/struts-config/hstapi-config.xml
      </param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>allowScriptTagRemoting</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
</web-app>